.message__item {
    border: 1px solid rgb(116, 123, 126);
    background-color: rgb(116, 123, 126);
    border-radius: 12px;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    margin-right: 15px;
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    &:last-child {
        margin-bottom: 20px;
    }

    p {
        word-break: break-all;
        max-width: 60%;
        height: auto;
        &:first-of-type {
            padding: 0 25px;
        }
    }
}

.message__itemRight {
    @extend .message__item;
    border: 1px solid rgba(116, 123, 126, 0.5);
    background-color: rgba(116, 123, 126, 0.5);
    margin-right: auto;
    margin-left: 15px;
}

.chat__avatar {
    border: 1px solid inherit;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
    align-self: center;
}
