.search__input {
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-style: italic;
    padding: 10px 15px;
    outline: none;
    width: 240px;
}
